.chat-side
  .chat-side__user
    .chat-side__user
      %ul
        %li{class: "chat-side__user__name"}
          nakazawa
        %li{class: "chat-side__user__edit"}
          %i.fa.fa-pencil-square-o
          %i.fa.fa-cog
  .chat-side__group
    .group__name nakazawa
    .group__new-messages 新着メッセージはありません。
