.chat-side
  .chat-side__user
    .chat-side__user
      %ul
        %li.chat-side__user__name
          nakazawa
        %li.chat-side__user__edit
          %i.fa.fa-pencil-square-o
          = link_to "/users/#{current_user.id}/edit" do
            %i.fa.fa-cog
  .chat-side__group
    .group__name nakazawa
    .group__new-messages 新着メッセージはありません。
