.message__name-date
  %ul
    %li{ class: "list-name"} sho nakazawa
    %li{ class: "list-date"} 2017/08/05
.message__text なるほど

.message__name-date
  %ul
    %li{ class: "list-name"} sho nakazawa
    %li{ class: "list-date"} 2017/08/06
.message__text いい感じー

.message__name-date
  %ul
    %li{ class: "list-name"} sho nakazawa
    %li{ class: "list-date"} 2017/08/06
.message__text いい感じー

.message__name-date
  %ul
    %li{ class: "list-name"} sho nakazawa
    %li{ class: "list-date"} 2017/08/06
.message__text いい感じー

.message__name-date
  %ul
    %li{ class: "list-name"} sho nakazawa
    %li{ class: "list-date"} 2017/08/06
.message__text いい感じー

.message__name-date
  %ul
    %li{ class: "list-name"} sho nakazawa
    %li{ class: "list-date"} 2017/08/06
.message__text いい感じー

.message__name-date
  %ul
    %li{ class: "list-name"} sho nakazawa
    %li{ class: "list-date"} 2017/08/06
.message__text いい感じー

.message__name-date
  %ul
    %li{ class: "list-name"} sho nakazawa
    %li{ class: "list-date"} 2017/08/06
.message__text いい感じー
