.message
  .message__name-date
    %ul
      %li.list-name
        =message.user.name
      %li.list-date
        =message.created_time
  .message__text
    %p
      =message.content
    -if message.image_url
      = image_tag message.image_url
