.notification
  %p チャットグループが生成されました。
.chat-side
  .chat-side__user
    .chat-side__user-content
.chat-body
  .chat-body__footer
    .chat-body__footer__container
      %textarea.chat-body__footer__container__text-box{:placeholder => "type a message"}
      %button.chat-body__footer__container__send-button{:value => "send"}
