.notification
.wrapper
  .chat-side
  .chat-main
    .chat-main__header
      .chat-main__header__left
        .chat-main__header__left__group-name
          %p nakazawa
        .chat-main__header__left__group-member
          %P Member: nakazawa
      .chat-main__header__right
        %a
          SEND
    .chat-main__body
    .chat-main__footer
