.notification
.wrapper
  = render partial: "chat-side"
  .chat-main
    .chat-main__header
      .chat-main__header__left
        .chat-main__header__left__group-name
          %p nakazawa
        .chat-main__header__left__group-member
          %P Member: nakazawa
      .chat-main__header__right
        %a{href: "#"} Edit
    .chat-main__body
      = render :partial => "message"
    .chat-main__footer
      %form{class: "chat-main__footer__form"}
        %input{class: "textarea" , placeholder: "type a message", type: "text"}
        .chat-main__footer__form__image-font
          %i.fa.fa-picture-o
        %input{class: "send-button", value: "Send", type: "submit"}
