.chat-main {
  float: right;
  width: calc(100vw - 300px);

  &__header {
    height: 100px;
    padding: 0 40px;

    padding-left: 40px;
    border-bottom: solid $chat-main__header-border-color;
    background-color: white;

    &__left {
      float: left;
      padding-top: 35px;

      &__group-name {
        p {
          color: #333333;
          font-size: 20px;
        }
      }

      &__group-member {
        margin: 15px 0;
        p {
          color: #999999;
          font-size: 12px;
        }
      }
    }

    &__right {
      float: right;
      margin-top: 28px;
      border: $button-color 1px solid;
      color: $button-color;
      height: 40px;
      padding: 0 20px;
      line-height: 40px;

      a {
        }
      }
    }


  &__body {
    height: calc(100vh - 70px - 90px);
  }

  &__footer {
    background-color: $footer-main-color;
    height: 90px;
    width: calc(100vw - 300px);
    position: fixed;
    bottom: 0;
    padding: 0 40px;

    &__form {
      height: 50px;
      width: calc(100% - 90px);
      margin: 20px 0;

      .textarea {
        float: left;
        height: 50px;
        width: calc(100% - 150px);
        border: none;
      }

      &__image-font {
        float: left;
        height: 50px;
        width: 20px;
        background-color: white;
        margin-right: 10px;
        line-height: 50px;
      }

      .send-button {
        background-color: #38AEF0;
        border: none;
        color: #fff;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}

