.group {
  margin:  20px 0 40px;
  padding: 0 20px;
  margin-bottom: 40px;
  color: $chat-side-font-color;

  &__name {
    p {
      font-size: 15px;
    }
  }

  &__new-messages {
    margin-top: 5px;
        p {
      font-size: 11px;
    }
  }
}
