$contents__left: 300px;

//カラーコード

//chat-bodyメインカラー
$chat-body-main-color: #AAA;
//footerメインカラー
$footer-main-color: #B8C3C7;
//ボタンメインカラー
$button-color: #38AEF0;

//chat-sideメインカラー
$chat-side-main-color: #2f3e51;
//chat-side__userメインカラー
$chat-side__user-main-color: #090c10;

//ボーダーカラー
$chat-main__header-border-color: #eeeeee;
