//カラーコード

//chat-bodyメインカラー
$chat-body-main-color: #AAA;
//footerメインカラー
$footer-main-color: #B8C3C7;
//

//chat-sideメインカラー
$chat-side-main-color: #2f3e51;
//chat-side__userメインカラー
$chat-side__user-main-color: #090c10;
//chat-side__userバックグラウンドカラー
$chat-side__user-color: #253141;
//chat-side__userのグループ名
$chat-side__user-group-name: #333;
//chat-side__userのメンバー名
$chat-side__user-group-member: #999;

//ボーダーカラー
$chat-main__header-border-color: #eee;
//サイドバーのフォントカラー、フッターのボタンの色,メインフォントカラー
$white: #fff;

//フッターのボタンの色、ボタンメインカラー,通知のバックグラウンドカラー
$blue: #38AEF0;

//フラッシュメッセージ
$orenge: #ff6600;
