.chat-body {
  float: right;
  background-color: $chat-body-main-color;
  width: calc(100vw - 300px);
  @include clearfix;

  &__footer {
    background-color: $footer-main-color;
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;

    &__container {
      height: 50px;
      width: calc(100vw - 300px - 40px - 40px);
      margin: 20px 40px 20px 40px;

      &__text-box {
        height: 50px;
        width: calc(100% - 100px);
        float: left;
        @include clearfix;
      }

      &__send-button {
        height: 50px;
        width: 100px;
        float: right;
        background-color: $send-button-color;
        @include clearfix;
      }
    }
  }
}
