.chat-side {
  background-color: $chat-side-main-color;
  width: 300px;
  height: 100vh;
  float: left;
  @include clearfix();

  .chat-side__user {
    height: 70px;
    width: 100%;
    background-color: $chat-side__user-main-color;
  }
}
